.profile-card {
  width: 100%;
  max-width: 810px;
  padding: 2em;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 8px;
  margin: 2%;
  height: 30em;
  padding-inline: 4em;
  margin-bottom: 0;
  margin-top: 0;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: relative;
  transform: skewX(-20deg);
  width: "96%";
  padding: 1em;
  text-align: left;
  margin-left: 2em;
}

.profile-image img {
  width: auto;
  height: 16em;
  border-radius: 5px;
  transform: skewX(20deg);
  bottom: 0;
  left: 0;
  z-index: 1;
  margin-top: 30%;
  position: absolute;
}

.text-content {
  max-width: 900px;
  padding-right: 30px;
  transform: skewX(0deg);
  margin-left: 10%;
  padding-left: 10px;
  height: 30em;
  font-size: 10px;
  font-family: "DM Sans", sans-serif;
  color: #717b85;
}

.text-content .description {
  font-size: 14px;
  transform: skewX(20deg);
  margin-left: 10px;
  padding-left: 10px;
}

.name-tag {
  background-color: #006837;
  background-repeat: no-repeat;
  color: #fff;
  display: inline-block;
  position: absolute;
  transform: skewX(0deg);
  bottom: -1;
  left: 10em;
  transform: scaleY(1);
  transform-origin: bottom;
  line-height: 5px;
  text-align: end;
  width: 26em;
  padding-right: 2em;
  height: 5em;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.name-tag .name {
  font-weight: bold;
  font-size: 15px;
  transform: skewX(20deg);
}

.name-tag .role {
  font-size: 10px;
  transform: skewX(20deg);
}

.profile-card::before,
.profile-card::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 100%;
}

.profile-card::before {
  left: -20px;
  transform: skewX(-20deg);
}

.profile-card::after {
  right: -50px;
  transform: skewX(20deg);
}

@media screen and (max-width: 600px) {
  .profile-card {
    flex-direction: column;
    display: flex;
    /* height: 40em; */
    background-color: #fff;
    /* width: 3em; */
    padding: 0;
    width: auto;
    min-width: 22em;
   
    max-width: 50em;
    margin-left: 0;
    
    overflow: hidden;
    position: relative;
    /* align-items: center;
    justify-content: center; */
    overflow: hidden;
    /* border-radius: 8px; */
    /* margin: -20%; */
  }

  .content-wrapper {
    flex-direction: column-reverse;
    /* align-items: center;
    text-align: center; */
    /* padding: 1em; */
    /* width: 90%; */
    /* overflow: wrap; */
    /* text-overflow: clip; */
    transform: skewX(0deg);
    /* margin-inline: "2em"; */
    font-size: small;
    margin:0;
    padding:0;
    width: 100%;
  }

  .profile-image img {
    /* width: auto; */
     /* height: 25em; 
    transform: skewX(0deg); */
    /* height: 15em; */
  }

  .text-content {
    padding: 0;
    /* width: 90%; */
    /* padding-right: 0px; */
    transform: skewX(-20deg);
    /* margin-left: 0;
    padding-left: 0; */
    font-size: 12px;
    display: flex;
    align-items: flex-start;
  }
  .text-content .description {
    /* margin-left: 10%; */
    padding-left: 0;
    /* width: 20em; */
    /* text-align: start; */
  }
  .name-tag {
    width: 14em;
    margin: 0;
    text-overflow: ellipsis;
  }

  .profile-card::before,
  .profile-card::after {
    display: none;
  }
  .name-tag {
    width: 14em;
    text-overflow: ellipsis;
  }
}

@media (max-width: 600px) {
  .profile-card {
    flex-direction: column;
    /* padding: 1.5em; */
    height: auto;
    /* width: 100%; */
    margin-left: 20%;
    width: 60%;
    overflow: hidden;
    position: relative;
    /* align-items: center;
    justify-content: center; */
    overflow: hidden;
    margin-left:0 ;
    margin-inline: auto;
    /* justify-content: flex-start; */
  }

  .content-wrapper {
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* padding: 1em; */
    /* margin-left: 0; */
    width: 98%;
  }

  .profile-image img {
    position: relative;
    /* margin-top: 0; */
    transform: skewX(0deg);
    height: 30em;
    padding: 0;
    /* left: -50%; */
     width:auto; 
    /* width: 100%;
    min-height: 10em; */
    /* margin-left: 3em; */
  }

  .text-content {
    /* margin-left: -25%; */
    /* padding-left: 0;
    padding-right: 0; */
    font-size: 14px;
    /* width: 100%; */
    /* margin: auto;
    height: auto; */
    /* word-wrap: break-word; */
    text-align: left;
    flex-direction: column-reverse;
  }
  .text-content .description {
    /* margin-left: 3em; */
    margin:auto;
    margin-top: 2em;
  }
  .name-tag {
    position: relative;
    width: 90%;
    text-align: left;
    margin:0;
    margin-left: -70%;
    
    /* left: -10%; */
    /* left: -20%; */
    
    transform: skewX(-100deg);
    transform: skewX(0deg);
    /* bottom: 0; */
    padding: 1em;
    padding-left: 2em;
    padding-top: 0em;
    height: auto;
    /* padding-left: 3em;
    padding-right: 3em; */
  }

  .name-tag::before {
    content: "";
    position: absolute;
    width: 5em;
    height: 102%;
    background-color: white;
    top: 0%;
    left:-15%;
    margin-bottom: 0;
    transform: translateY(-50%);
    z-index: 1;
    transform: skewX(20deg);
  }
  .name-tag .name {
    font-size: 14px;
  }

  .name-tag .role {
    font-size: 12px;
  }
}
